<script src="https://maps.googleapis.com/maps/api/js?key=YOUTKEY&libraries=drawing&callback=initMap" async defer></script>
<div>

<button type="button" class="btn btn-primary" id="saveBtn">Save</button>
    <div id="map"></div>
    <div id="info"></div>
</div>
<style type="text/css">    
    #map {
        height: 400px;
    }
</style>